[submodule "tmux"]
	path = tmux
	url = https://github.com/CharlesGueunet/tmux-config.git
[submodule "vifm"]
	path = vifm
	url = https://github.com/CharlesGueunet/vifm.git
[submodule "i3"]
	path = i3
	url = https://github.com/CharlesGueunet/i3wm
[submodule "vimmic"]
	path = vimmic
	url = https://github.com/CharlesGueunet/vimmic
[submodule "nvim"]
	path = nvim
	url = https://github.com/CharlesGueunet/vimmic
[submodule "zsh"]
	path = zsh
	url = https://github.com/CharlesGueunet/zsh-config.git
